:root {
    --white: #FFFFFF;
    --white-with-opacity-9: rgba(255, 255, 255, 0.9);
    --white-with-opacity-3: rgba(255, 255, 255, 0.3);
    --outside: #F2F2F2;
    --lightgrey: #EBEBEB;
    --black:  #000000;
    --black-with-opacity-3: rgba(0, 0, 0, 0.3);
    --black-with-opacity-2: rgba(0, 1, 1, 0.2);
    --veryultragrey : #6a6a6a;
    --grey: #333333;
    --lightdark: #E5E5E5;
    --darkgrey: #A9A9A9;
    --verylightgrey: #ABABAB;
    --verylightgrey-3: rgba(171, 171, 171, 0.3);
    --overgrey: #666666;
    --ultragrey: #888888;
    --supergrey: #BDBBBC;
    --more-grey: #CACACA;
    --lightblue: #81B3D2;
    --lightblue-hover: #669EC0;
    --lightblue-active: #5496BD;
    --lightbrown: #766357;
    --lightbrown-hover: #604E43;
    --lightbrown-active: #503E33;
    }
    /*OTHER-CLASS*/
    .visually-hidden {
    display: none;
    }
    .container-position {
    position: relative;
    }

    .center-container {
    width: 1056px;

    margin: 0 auto;
    }
    /*INDEX*/
    /*PAGE*/
    .page {
    width: 1200px;

    background-color: var(--outside);

    -webkit-box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);

            box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);

    margin: auto;
    }
    
    .page-index {
    width: 1200px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;

    color: var(--white);
    }
    /*HEADER*/
    .header {
    width: 1200px;
    
    background-color: var(--white);
    }
    .header__navigation {
    position: relative;
    }
    /*NAVIGATION-MENU*/
    .navigation__list {
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    padding: 15px 0 0 0;
    margin: 0;
    }

    .navigation__item {
    width: 229.5px;
    
    line-height: 26px;
    font-weight: 700;

    margin-bottom: 15px;
    }

    .navigation__item:nth-child(4n-1) {
    margin-left: 138px;
    }

    .navigation__item--info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }

    .navigation__item--media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }

    .navigation__item--map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }

    .navigation__item--hotels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
    
    .navigation__link {
    font-weight: 700;
    line-height: 26px;
    text-decoration: none;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        
    color: var(--black);
    
    margin: 0;
    }
    
    .navigation__link:hover {
    color: var(--lightblue);
    }
    
    .navigation__link:active {
    color: var(--black-with-opacity-3);
    }

    .navigation__list .checked {
    color: var(--lightbrown);
    }
    /*LOGOTIP*/
    .logo-link {
    width: 138px;
    height: 70px;

    display: inline-block;

    position: absolute;
    top:0;
    left:459px;

    z-index:1;
    }

    .header__picture {
    width: 138px;
    height: 70px;
    }
    /*MAIN*/
    .main {
    width: 1200px;

    margin: 0 auto;
    }
    /*SLOGAN*/
    .slogan {
    width: 1200px;
    height: 509px;

    background-image: url(../image/white-mask.png),
                      url(../image/background-photo.png);                
    background-repeat: no-repeat;
    background-position: bottom, center;
    background-color:  var(--lightblue);
    }

    .slogan__picture {
    width: 457px;
    height: 351px;

    margin: 77px 372px 81px 371px;
    }
    /*ABOUT*/
    .about {
    width: 1200px;

    text-align: center;

    background-color:  var(--white);
    }
    .about__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;  
    
    color: var(--black);
    background-color:  var(--white);

    padding: 41.5px 0 0 1px;
    margin: 0;
    }
    
    .about__text {
    line-height: 26px;   
        
    color: var(--grey);

    margin: 43px 0 0 0;
    padding: 0 0 51px 0;
    }
    /*REASONS AND RECOMMENDATIONS*/
    .reasons-and-recommendations__list {
    width: 1200px;    

    list-style: none;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin: 0;
    padding: 0;
    }
    /*REASONS*/
    .reason__item {
    text-align: center;

    color: var(--white);
    background-color: var(--white);
    }

    .reason__title {
    font-weight: 700;
    font-size: 21px;
    }
    
    .reason__title,
    .reason__subtitle,
    .reason__text {
    margin: 0;
    }
    /*REASON-ONE*/
    .reason--one {
    width: 1200px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .reason--one__about {
    width: 400px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    background-color: var(--lightblue);
    }

    .reason--one__title {
    padding: 46px 0 0 0;
    margin: 0
    }

    .reason--one__subtitle {
    padding: 27px 0 0 0;
    }

    .reason--one__text {
    padding: 25px 0 54px 0;
    margin: 0;
    }

    .reason--one__picture {
    width: 800px;
    height: 256px;

    background-color: lightblue;

    margin: auto;
    }
    /*REASON-TWO*/
    .reason--two {
    width: 1200px;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .reason--two__about {
    width: 400px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;

    background-color: var(--lightblue);
    }
    
    .reason--two__title {
    padding: 49px 0 0 0;
    }
    
    .reason--two__subtitle {
    padding: 28px 0 0 0;
    }
    
    .reason--two__text {
    padding: 24px 0 51px 0;
    }

    .reason--two__picture {
    width: 800px;
    height: 256px;

    margin: auto;

    background-color: var(--lightblue);
    }
    /*REASON-THREE, REASON-FOUR, REASON-FIVE*/
    .reason--three,
    .reason--four,
    .reason--five {
    width: 400px;

    text-align: center;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    background-color: var(--lightgrey);
    color: var(--grey)
    }

    .reason--three__title,
    .reason--four__title,
    .reason--five__title {
    color: var(--black);

    padding: 46px 0 0 0;
    }
    
    .reason--three__subtitle,
    .reason--four__subtitle,
    .reason--five__subtitle {
    padding: 26px 0 0 0;
    }
        
    .reason--three__text,
    .reason--four__text,
    .reason--five__text {
    padding: 23px 0 54px 0;
    }
    /*RECOMMENDATIONS*/
    .recommendations__item {
    width: 400px;

    text-align: center;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    position: relative;

    background-color: var(--white);
    }

    .recommendations__title {
    font-weight: 700;
    font-size: 21px;
    
    color: var(--black);

    padding: 142px 0 0 0;
    }

    .recommendations__text {
    color: var(--grey);

    padding: 8px 0 82px 1px;
    margin: 0;
    }

    .recommendations__title--house::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 72px;
    top: 60px;
    left: 162px;
    background-image: url(../image/home.svg);
    }

    .recommendations__title--food::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 70px;
    top: 61px;
    left: 162px;
    background-image: url(../image/hamburger.svg);
    }

    .recommendations__title--suvenirs::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 77px;
    top: 55px;
    left: 168px;
    background-image: url(../image/present.svg);
    }
    /*SEARCH-HOTEL*/
    .search-hotel {
    width: 1200px;

    text-align: center;
    line-height: 24px;

    color: var(--black);
    background-color:  var(--white);
    }
    .search-hotel__title {
    font-weight: 700;
    font-size: 30px;

    margin: 0;
    padding: 57px 12px 0 0;
    }
    
    .search-hotel__text {
    padding: 20px 0 28px 0;
    }

    .search-hotel__button {
    width: 568px;
    height: 86px;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    
    border: none;
    
    color: var(--white);
    background-color: var(--lightbrown);

    padding: 0;
    margin: 0;
    }

    .search-hotel__button:hover {
    background-color: var(--lightbrown-hover);
    }
        
    .search-hotel__button:active {
    background-color: var(--lightbrown-active);
    color: var(--white-with-opacity-3);
    }
    /*REGISTRATION*/
    .registration {
    width: 1200px;

    position: relative;
    }

    .registration__map {
    width: 1200px;
    height: 592px;

    border: none;
    }
    /*FORM*/
    .registration__form {
    width: 568px;

    font-weight: 700;
    line-height: 26px;

    position: absolute;
    top: 0;
    left: 315px;

    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55px 112px 38px 38px 38px 53px 65px 38px 38px 38px 55px;
    grid-template-columns: 55px 112px 38px 38px 38px 53px 65px 38px 38px 38px 55px;
    -ms-grid-rows: 55px 38px 29px 38px 30px 38px 54px 58px 55px;
    grid-template-rows: 55px 38px 29px 38px 30px 38px 54px 58px 55px;

    color: var(--black);
    background-color: var(--white);
    }
    .registration__form > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    }
    .registration__form > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    }
    .registration__form > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    }
    .registration__form > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    }
    .registration__form > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    }
    .registration__form > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    }
    .registration__form > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
    }
    .registration__form > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 8;
    }
    .registration__form > *:nth-child(9) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
    }
    .registration__form > *:nth-child(10) {
    -ms-grid-row: 1;
    -ms-grid-column: 10;
    }
    .registration__form > *:nth-child(11) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
    }
    .registration__form > *:nth-child(12) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    }
    .registration__form > *:nth-child(13) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    }
    .registration__form > *:nth-child(14) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    }
    .registration__form > *:nth-child(15) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    }
    .registration__form > *:nth-child(16) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
    }
    .registration__form > *:nth-child(17) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
    }
    .registration__form > *:nth-child(18) {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
    }
    .registration__form > *:nth-child(19) {
    -ms-grid-row: 2;
    -ms-grid-column: 8;
    }
    .registration__form > *:nth-child(20) {
    -ms-grid-row: 2;
    -ms-grid-column: 9;
    }
    .registration__form > *:nth-child(21) {
    -ms-grid-row: 2;
    -ms-grid-column: 10;
    }
    .registration__form > *:nth-child(22) {
    -ms-grid-row: 2;
    -ms-grid-column: 11;
    }
    .registration__form > *:nth-child(23) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    }
    .registration__form > *:nth-child(24) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    }
    .registration__form > *:nth-child(25) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    }
    .registration__form > *:nth-child(26) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    }
    .registration__form > *:nth-child(27) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    }
    .registration__form > *:nth-child(28) {
    -ms-grid-row: 3;
    -ms-grid-column: 6;
    }
    .registration__form > *:nth-child(29) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
    }
    .registration__form > *:nth-child(30) {
    -ms-grid-row: 3;
    -ms-grid-column: 8;
    }
    .registration__form > *:nth-child(31) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
    }
    .registration__form > *:nth-child(32) {
    -ms-grid-row: 3;
    -ms-grid-column: 10;
    }
    .registration__form > *:nth-child(33) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
    }
    .registration__form > *:nth-child(34) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    }
    .registration__form > *:nth-child(35) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    }
    .registration__form > *:nth-child(36) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    }
    .registration__form > *:nth-child(37) {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    }
    .registration__form > *:nth-child(38) {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
    }
    .registration__form > *:nth-child(39) {
    -ms-grid-row: 4;
    -ms-grid-column: 6;
    }
    .registration__form > *:nth-child(40) {
    -ms-grid-row: 4;
    -ms-grid-column: 7;
    }
    .registration__form > *:nth-child(41) {
    -ms-grid-row: 4;
    -ms-grid-column: 8;
    }
    .registration__form > *:nth-child(42) {
    -ms-grid-row: 4;
    -ms-grid-column: 9;
    }
    .registration__form > *:nth-child(43) {
    -ms-grid-row: 4;
    -ms-grid-column: 10;
    }
    .registration__form > *:nth-child(44) {
    -ms-grid-row: 4;
    -ms-grid-column: 11;
    }
    .registration__form > *:nth-child(45) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    }
    .registration__form > *:nth-child(46) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    }
    .registration__form > *:nth-child(47) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    }
    .registration__form > *:nth-child(48) {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
    }
    .registration__form > *:nth-child(49) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
    }
    .registration__form > *:nth-child(50) {
    -ms-grid-row: 5;
    -ms-grid-column: 6;
    }
    .registration__form > *:nth-child(51) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
    }
    .registration__form > *:nth-child(52) {
    -ms-grid-row: 5;
    -ms-grid-column: 8;
    }
    .registration__form > *:nth-child(53) {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
    }
    .registration__form > *:nth-child(54) {
    -ms-grid-row: 5;
    -ms-grid-column: 10;
    }
    .registration__form > *:nth-child(55) {
    -ms-grid-row: 5;
    -ms-grid-column: 11;
    }
    .registration__form > *:nth-child(56) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    }
    .registration__form > *:nth-child(57) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    }
    .registration__form > *:nth-child(58) {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
    }
    .registration__form > *:nth-child(59) {
    -ms-grid-row: 6;
    -ms-grid-column: 4;
    }
    .registration__form > *:nth-child(60) {
    -ms-grid-row: 6;
    -ms-grid-column: 5;
    }
    .registration__form > *:nth-child(61) {
    -ms-grid-row: 6;
    -ms-grid-column: 6;
    }
    .registration__form > *:nth-child(62) {
    -ms-grid-row: 6;
    -ms-grid-column: 7;
    }
    .registration__form > *:nth-child(63) {
    -ms-grid-row: 6;
    -ms-grid-column: 8;
    }
    .registration__form > *:nth-child(64) {
    -ms-grid-row: 6;
    -ms-grid-column: 9;
    }
    .registration__form > *:nth-child(65) {
    -ms-grid-row: 6;
    -ms-grid-column: 10;
    }
    .registration__form > *:nth-child(66) {
    -ms-grid-row: 6;
    -ms-grid-column: 11;
    }
    .registration__form > *:nth-child(67) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    }
    .registration__form > *:nth-child(68) {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    }
    .registration__form > *:nth-child(69) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    }
    .registration__form > *:nth-child(70) {
    -ms-grid-row: 7;
    -ms-grid-column: 4;
    }
    .registration__form > *:nth-child(71) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
    }
    .registration__form > *:nth-child(72) {
    -ms-grid-row: 7;
    -ms-grid-column: 6;
    }
    .registration__form > *:nth-child(73) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
    }
    .registration__form > *:nth-child(74) {
    -ms-grid-row: 7;
    -ms-grid-column: 8;
    }
    .registration__form > *:nth-child(75) {
    -ms-grid-row: 7;
    -ms-grid-column: 9;
    }
    .registration__form > *:nth-child(76) {
    -ms-grid-row: 7;
    -ms-grid-column: 10;
    }
    .registration__form > *:nth-child(77) {
    -ms-grid-row: 7;
    -ms-grid-column: 11;
    }
    .registration__form > *:nth-child(78) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    }
    .registration__form > *:nth-child(79) {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    }
    .registration__form > *:nth-child(80) {
    -ms-grid-row: 8;
    -ms-grid-column: 3;
    }
    .registration__form > *:nth-child(81) {
    -ms-grid-row: 8;
    -ms-grid-column: 4;
    }
    .registration__form > *:nth-child(82) {
    -ms-grid-row: 8;
    -ms-grid-column: 5;
    }
    .registration__form > *:nth-child(83) {
    -ms-grid-row: 8;
    -ms-grid-column: 6;
    }
    .registration__form > *:nth-child(84) {
    -ms-grid-row: 8;
    -ms-grid-column: 7;
    }
    .registration__form > *:nth-child(85) {
    -ms-grid-row: 8;
    -ms-grid-column: 8;
    }
    .registration__form > *:nth-child(86) {
    -ms-grid-row: 8;
    -ms-grid-column: 9;
    }
    .registration__form > *:nth-child(87) {
    -ms-grid-row: 8;
    -ms-grid-column: 10;
    }
    .registration__form > *:nth-child(88) {
    -ms-grid-row: 8;
    -ms-grid-column: 11;
    }
    .registration__form > *:nth-child(89) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    }
    .registration__form > *:nth-child(90) {
    -ms-grid-row: 9;
    -ms-grid-column: 2;
    }
    .registration__form > *:nth-child(91) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
    }
    .registration__form > *:nth-child(92) {
    -ms-grid-row: 9;
    -ms-grid-column: 4;
    }
    .registration__form > *:nth-child(93) {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
    }
    .registration__form > *:nth-child(94) {
    -ms-grid-row: 9;
    -ms-grid-column: 6;
    }
    .registration__form > *:nth-child(95) {
    -ms-grid-row: 9;
    -ms-grid-column: 7;
    }
    .registration__form > *:nth-child(96) {
    -ms-grid-row: 9;
    -ms-grid-column: 8;
    }
    .registration__form > *:nth-child(97) {
    -ms-grid-row: 9;
    -ms-grid-column: 9;
    }
    .registration__form > *:nth-child(98) {
    -ms-grid-row: 9;
    -ms-grid-column: 10;
    }
    .registration__form > *:nth-child(99) {
    -ms-grid-row: 9;
    -ms-grid-column: 11;
    }
    /*CHECK-IN AND CHECK-OUT*/
    .registration__check-in-label {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row:  2;
    -ms-grid-row-span:  1;
    grid-row:  2 / 3;

    margin: 5px 0 0 1px;
    }

    .registration__check-in {
    grid-column: 3 / -2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;

    border: none;

    padding: 2px 0 4px 14px;
    }

    .registration__button--calendar {
    width: 21px;
    height: 23px;

    cursor: pointer;

    border: none;
    outline: none;

    background-color: transparent;

    padding: 0;
    margin: 7px 0 0 9px;
    }

    .button__check-in-calendar {
    -ms-grid-column: 10;
    -ms-grid-column-span: 1;
    grid-column: 10 / 11;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    }

    .registration__check-out-label {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;

    margin: 5px 0 0 1px;
    }

    .registration__check-out {
    grid-column: 3 / -2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;

    border: none;

    padding: 2px 0 4px 13px;
    }

    .button__check-out-calendar {  
    -ms-grid-column: 10;
    -ms-grid-column-span: 1;
    grid-column: 10 / 11;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    }
    /*CALENDAR*/
    .registration__check-in-calendar:hover path,
    .registration__check-out-calendar:hover path {
    fill: var(--black);
    }
    
    .registration__check-in-calendar:active path,
    .registration__check-out-calendar:active path {
    fill: var(--lightblue);
    }
    /*ADULT*/
    .registration__adult-label {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;

    margin: 5px 0 0 1px;
    }

    .registration__button-minus-adult {
    width: 38px;
    height: 38px;

    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    
    border: none;
    outline: none;
    
    background-color: var(--outside);
    color: var(--darkgrey);

    padding: 0;
    }

    .registration__image-minus-adult {
    width: 12px;
    height: 3px;

    margin: 17.5px 13px;
    }

    .registration__adult {
    width: 38px;
    height: 38px;

    text-align: center;

    position: relative;

    -ms-grid-column: 4;

    -ms-grid-column-span: 1;

    grid-column: 4 / 5;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;

    -moz-appearance: textfield;
    
    padding: 0 0 1.5px 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    border: none;
    }

    .registration__adult::-webkit-inner-spin-button,
    .registration__adult::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
    }

    .registration__button-plus-adult {
    width: 38px;
    height: 38px;

    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
        
    border: none;
    outline: none;
    
    background-color: var(--outside);
    color: var(--darkgrey);

    padding: 0;
    }

    .registration__image-plus-adult {
    width: 11px;
    height: 11px;
    
    -ms-grid-column: 5;
    
    -ms-grid-column-span: 1;
    
    grid-column: 5 / 6;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    
    margin: auto;
    }

    .registration__children-label {
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    grid-column: 7 / 8;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;

    margin: 5px 0 0 1px;
    }

    .registration__button-minus-children {
    width: 38px;
    height: 38px;

    -ms-grid-column: 8;
    -ms-grid-column-span: 1;
    grid-column: 8 / 9;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
        
    border: none;
    outline: none;
  
    background-color: transparent;
    color: var(--darkgrey);
    
    z-index: 1;

    padding: 0;
    }

    .registration__image-minus-children {
    width: 12px;
    height: 3px;
    
    -ms-grid-column: 8;
    
    -ms-grid-column-span: 1;
    
    grid-column: 8 / 9;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    
    z-index: 1;
    
    margin: 17.5px 13px;
    }

    .registration__children {
    width: 38px;
    height: 38px;

    text-align: center;
    
    -ms-grid-column: 9;
    
    -ms-grid-column-span: 1;
    
    grid-column: 9 / 10;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;

    -moz-appearance: textfield;

    padding: 0 0 1.5px 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
    border: none;
    
    }

    .registration__children::-webkit-inner-spin-button,
    .registration__children::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
    }

    .registration__button-plus-children {
    width: 38px;
    height: 38px;
    
    -ms-grid-column: 10;
    -ms-grid-column-span: 1;
    grid-column: 10 / 11;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
            
    border: none;
    outline: none;
        
    background-color: transparent;
    color: var(--darkgrey);

    z-index: 1;

    padding: 0;
    }

    .registration__image-plus-children {
    width: 11px;
    height: 11px;
        
    -ms-grid-column: 10;
        
    -ms-grid-column-span: 1;
        
    grid-column: 10 / 11;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
        
    z-index: 1;
        
    margin: auto;
    }

    /*BUTTON-MINUS-PLUS*/
    .registration__button-minus-adult,
    .registration__button-plus-adult,
    .registration__button-minus-children,
    .registration__button-plus-children {
    background-color: var(--outside);
    }

    .registration__button-minus-adult:hover,
    .registration__button-plus-adult:hover,
    .registration__button-minus-children:hover,
    .registration__button-plus-children:hover {
    background-color: var(--lightgrey);
    }

    .registration__adult,
    .registration__children,
    .registration__check-in,
    .registration__check-out {
    font-weight: 700;
    line-height: 26px;
    font-size: 14px;
    
    background-color: var(--outside);
    color: var(--black);
    }

    .registration__adult:hover,
    .registration__children:hover,
    .registration__check-in:hover,
    .registration__check-out:hover {
    background-color: var(--lightgrey);
    color: var(--black);
    }

    .registration__adult:focus,
    .registration__children:focus,
    .registration__check-in:focus,
    .registration__check-out:focus {
    background-color: var(--white);
    outline: 2px solid var(--lightdark);
    outline-offset: -2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }

    .registration__image-minus-adult:hover rect,
    .registration__image-plus-adult:hover path,
    .registration__image-minus-children:hover rect,
    .registration__image-plus-children:hover path {
    fill: var(--black);
    }

    .registration__image-minus-adult:active rect,
    .registration__image-plus-adult:active path,
    .registration__image-minus-children:active rect,
    .registration__image-plus-children:active path {
    fill: var(--lightblue);
    }
    /*BUTTON-TO-FIND*/
    .registration__button-to-find {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    -ms-grid-column: 2;

    -ms-grid-column-span: 9;

    grid-column: 2 / 11;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8 / 9;

    border: none;

    background: var(--lightblue);
    color: var(--white);

    padding: 0;
    }
        
    .registration__button-to-find:hover {
    background: var(--lightblue-hover);
    }
        
    .registration__button-to-find:active {
    color: var(--white-with-opacity-3);
    background-color: var(--lightblue-active);

    outline: none;
    }
    /*FOOTER*/
    .footer {
    width: 1200px;

    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    background: var(--white-with-opacity-9);

    z-index: 1;

    padding: 12px 0;
    }

    .footer--index {
    position: absolute;
    bottom: 0;
    left: 0;
    }

    /*CONTACTS*/
    .footer--contacts {
    width: 400px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;

    color: var(--black);
    }

    .footer--contacts__text {
    padding: 10px 0 9px 73px;
    margin: 0;
    }

    .footer--contacts__phone {
    text-decoration: none;

    color: var(--black);

    padding: 0 0 28px 73px
    }
    /*SOCIAL*/
    .footer--social {
    width: 400px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    }

    .footer--social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    list-style: none;

    padding-top: 11px;
    padding-right: 34px;
    }

    .footer--social__item {
    width: 46px;
    height: 48px;
    
    -ms-flex-item-align: center;
    
        -ms-grid-row-align: center;
    
        align-self: center;

    background-color: var(--lightblue);

    margin: 0 6px 12px 0;
    }
    
    .footer--social__item:hover {
    background-color:   var(--lightblue-hover);
    }

    .footer--social__item:hover path {
    fill: var(--white-with-opacity-3);
    }
    
    .footer--social__item:active {
    background-color: var(--lightblue-active);
    }

    .twitter {
    width: 17px;
    height: 17px;

    padding: 16px 14px 15px 15px;
    }

    .facebook {
    width: 12px;
    height: 22px;

    padding: 13px 17px
    }

    .youtube {
    width: 20px;
    height: 16px;

    padding: 16px 13px;
    }

    /*COPYRIGHT*/
    .footer--copyright {
    width: 400px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }

    .footer--copyright__text {
    line-height: 26px;

    color: var(--black);

    padding: 9px 7px 10px 0;
    margin: 0;
    }

    .footer--copyright__logo {
    width: 114px;
    height: 40px;

    padding: 14px 73px 14px 0;
    }

    .footer--copyright__logo:hover path {
    fill: var(--lightblue);
    }

    .footer--copyright__logo:active path {
    fill: var(--supergrey);
    }
    /*CATALOG*/
    .page-catalog {
    width: 1200px;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    
    color: var(--white);
    background-color: var(--outside);
    
    margin: 0 auto;
    }
    /*FILTER-CATALOG*/
    .filter-container {
    width: 1200px;

    background-image: url(../image/background-filter-form.png);
    background-size: cover;
    }

    .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    padding: 26.5px 0 32px 0;
    }
    
    /*INFRASTRUCTURE*/
    .infrastructure {
    width: 135px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    border: none;

    margin: 0 119px 0 0;
    padding: 0;
    }

    .infastructure__subtitle {
    font-weight: 700;
    font-size: 16px;
        
    color: var(--white);
    }
    
    .infrastructure__list {
    list-style: none;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    margin: 0;
    padding: 0;
    }

    .infrastructure__item {
    margin-top: 22px
    }

    .infrastructure__item label {
    display: block;

    position: relative;

    padding-left: 40px;
    }

    .infrastructure__item label::before {
    content: "";

    width: 23px;
    height: 23px;

    position: absolute;
    left: 0;
    top: 0;

    background-image: url(../image/checkbox-box-white-not-checked.svg);
    }

    .infrastructure__item--wi-fi label::before {
    content: "";
                    
    width: 23px;
    height: 23px;
                        
    position: absolute; 
    left: 0;
    top: 0;
                        
    background-image: url(../image/checkbox-box-dark-not-checked.svg);
    }

    .infrastructure__input:checked + label::before {
    content: "";

    width: 23px;
    height: 23px;

    position: absolute;
    left: 0;
    top: 0;
    
    background-image: url(../image/checkbox-box-white-checked.svg);
    background-repeat: no-repeat;
    }

    .infrastructure__input:checked + label::after {
    content: "";
    
    width: 23px;
    height: 23px;
    
    position: absolute;
    left: 4px;
    top: 1px;
        
    background-image: url(../image/checkbox-jackdaw-white.svg);
    background-repeat: no-repeat;
    }

    .infrastructure__input--parking:checked + label::before {
    content: "";
            
    width: 23px;
    height: 23px;
                
    position: absolute; 
    left: 0;
    top: 0;
                
    background-image: url(../image/checkbox-box-dark-checked.svg);
    }

    .infrastructure__input--parking:checked + label::after {
    content: "";
    
    width: 23px;
    height: 23px;
        
    position: absolute; 
    left: 4px;
    top: 1px;
        
    background-image: url(../image/checkbox-jackdaw-dark.svg);
    }
    /*TYPE-HOUSING*/
    .type-housing {
    width: 136px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    border: none;
    
    margin: 0 347px 0 0;
    padding: 0;
    }
    
    .type-housing__subtitle {
    font-weight: 700;
    font-size: 16px;
            
    color: var(--white);
    }
        
    .type-housing__list {
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    
    margin: 0;
    padding: 0;
    }

    .type-housing__item {
    margin-top: 22px
    }

    .type-housing__item label {
    display: block;
    
    position: relative;
    
    padding-left: 40px;
    }
    
    .type-housing__item label::before {
    content: "";

    width: 23px;
    height: 23px;

    position: absolute;
    left: 0;
    top: 0;
    
    background-image: url(../image/checkbox-box-white-not-checked.svg);
    }
        
    .type-housing__input:checked + label::before {
    content: "";

    width: 23px;
    height: 23px;

    position: absolute;
    left: 0;
    top: 0;
    
    background-image: url(../image/checkbox-box-white-checked.svg);
    background-repeat: no-repeat;
    }

    .type-housing__input:checked + label::after {
    content: "";
    
    width: 23px;
    height: 23px;
    
    position: absolute;
    left: 4px;
    top: 1px;
        
    background-image: url(../image/checkbox-jackdaw-white.svg);
    background-repeat: no-repeat;
    }
    
    /*COST-PER-DAY*/
    .cost-per-day {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    
    border: none;
            
    margin: 0;
    padding: 0;
    }

    .cost-per-day__subtitle {
    font-weight: 700;
    font-size: 16px;
    
    color: var(--white);

    margin-bottom: 10.5px;
    }

    .cost-per-day__price {
    width: 317px;
    height: 36px;

    text-align: center;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 157px 2px 156px;
    grid-template-columns: 157px 2px 156px;

    border: 2px solid var(--white);
    border-radius: 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }

    .cost-per-day__label--min {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;

    position: relative;

    padding: 3px 0 0 30px;
    }

    .cost-per-day__label--min::after {
    content: "";

    position: absolute;
    bottom: 5px;
    left: 157px;

    width: 2px;
    height: 22px;

    background-color: var(--white);
    }

    .cost-per-day__label--max {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;

    padding: 3px 0 0 13px;
    }

    .cost-per-day__input--min {
    width: 40px;

    border: none;
    outline: none;
    
    color: var(--white);
    background-color:transparent;

    -moz-appearance: textfield;

    padding: 0;
    }

    .cost-per-day__input--min::-webkit-outer-spin-button,
    .cost-per-day__input--min::-webkit-inner-spin-button {
    -webkit-appearance: none;
    }

    .cost-per-day__input--max {
    width: 40px;

    border: none;
    outline: none;
    
    color: var(--white);
    background-color:transparent;
    
    -moz-appearance: textfield;
    }
    
    .cost-per-day__input--max::-webkit-outer-spin-button,
    .cost-per-day__input--max::-webkit-inner-spin-button {
    -webkit-appearance: none;
    }

    .filter-range__controls {
    width: 316px;
    height: 35px;

    position: relative;

    background-color: transparent;

    padding-top: 20px;
    }
    /*SCALE*/
    .filter-range__scale {
    width: 316px;
    height: 2px;

    background-color:  var(--white-with-opacity-3);
    }

    .filter-range__scale .filter-range__bar {
    width: 252px;
    height: 2px;

    background-color: var(--white);
    }
    /*TOGGLE*/
    .filter-range__toggle {
    width: 3.8px;
    height: 3.82px;

    position: absolute;
    top: 11.5px;
    left: 0;
    
    border: 7.64px solid var(--white);
    border-radius: 50%;

    background-color: var(--verylightgrey);

    -webkit-box-shadow: 0 2px 0 0 var(--verylightgrey);
            box-shadow: 0 2px 0 0 var(--verylightgrey);

    cursor: pointer;
    }

    .filter-range__toggle:hover {
    width: 4.6px;
    height: 4.34px;

    border: 9.2px solid var(--white);
    border-radius: 50%;

    background-color: var(--verylightgrey);

    -webkit-box-shadow: 0 2px 0 0 var(--verylightgrey);
            box-shadow: 0 2px 0 0 var(--verylightgrey);

    cursor: pointer;
    }

    .toggle-min {
    left: 0;
    }

    .toggle-max {
    left: 253px;
    }
    /*BUTTON-SHOW*/
    .button-show {
    width: 137px;
    height: 36px;

    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
    text-transform: uppercase;

    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;

    border: 2px solid var(--white);
    border-radius: 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
    color: var(--white);
    background-color: transparent;

    padding: 3px 35px 8px 33px;
    margin-right: 10px;
    }

    .button-show:hover   {
    background-color: var(--white);
    color: var(--black);
    }
    /*RESULT*/
    .result {
    width: 1200px;

    background-color: var(--white);
    }

    .header-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    position: relative;

    padding: 29px 0 31px 0;
    }

    .header-result::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: -72px;

    width: 1200px;
    height: 1px;

    background-color: var(--lightdark);
    }

    .header-result__left-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }

    .header-result__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
            
    color: var(--black);

    margin: 0 46px 0 0;
    }

    .header-result__text {
    font-size: 12px;
    line-height: 18px;

    color: var(--black);

    margin: 0 40px 0 0;
    }

    .header-result__list {
    font-size: 12px;
    line-height: 18px;
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;
    }   

    .header-result__item {
    margin-right: 32px;
    }
        
    .header-result__link {
    text-decoration: none;

    border-bottom: 1px dotted var(--lightblue);

    color: var(--black-with-opacity-3);
    }
            
    .header-result__link:hover {
    color: var(--lightblue);
    }
            
    .header-result__link:active {
    color: var(--black);

    border-bottom: none;
    }

    .header-result_checked {
    color: var(--lightblue);

    text-decoration: none;

    border-bottom: none;
    }
    /*TRIANGLE*/
    .header-result__right-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding-top: 5px;
    }

    .header-result__triangle-link:hover path {
    fill: var(--black);
    }

    .header-result__triangle-link:active path {
    fill: var(--lightblue);
    }

    .header-result__triangle-link_checked path {
    fill: var(--lightblue);
    }

    .triangle-top,
    .triangle-bottom {
    width: 11px;
    height: 10px;
    }

    .triangle-bottom {
    margin-left: 12px;
    }
    /*RESULT__FOUND-LIST*/
    .result-found__list {
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    padding: 0;
    }

    .result-found__item {  
    width: 1056px;
    height: 151px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    position: relative;

    padding: 25px 0 30px 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }
    
    .result-found__item::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: -72px;
    
    width: 1200px;
    height: 1px;
    
    background-color: var(--lightdark);
    }

    .result-found__left-container {
    width: 422px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }
    
    .result-found__left-container__image {
    width: 135px;
    height: 90px;

    margin-top: 7px;
    }

    .result-found__left-container__about {
    width: 258px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    }

    .result-found__left-container__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
                
    color: var(--black);
    
    margin: 0;
    }
        
    .result-found__left-container__title:hover {
    color: var(--lightblue-hover);
    }
        
    .result-found__left-container__title:active {
    color: var(--black-with-opacity-3);
    }
    
    .result-found__left-container__text {
    color: var(--grey);
    
    margin: 0 38px 0 0;
    }

    .result-found__left-container__text-motel {
    margin: 0 63px 0 0;
    }

    .result-found__left-container__text-apartments {
    margin: 0 21px 0 0;
    }
 
    .result-found__left-container__min {
    color: var(--grey);

    margin: 0;
    }

    .button-result-more {
    width: 110px;
    height: 27px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    
    border: none;
                
    background: var(--lightblue);
    color: var(--white);
    
    padding: 3px 16px 3px 17px;
    margin: auto 5px 0 0;
    }
                
    .button-result-more:hover {
    background: var(--lightblue-hover);
    }
                
    .button-result-more:active {
    background-color: var(--lightblue-active);
    color: var(--white-with-opacity-3);

    outline: none;
    }
                
    .button-result-booking {
    width: 143px;
    height: 27px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    
    border: none;
                
    background: var(--lightbrown);
    color: var(--white);
    
    padding: 3px 17px 3px 16px;
    margin-top: auto;
    }
                
    .button-result-booking:hover {
    background: var(--lightbrown-hover);
    }
                    
    .button-result-booking:active {
    background-color: var(--lightbrown-active);
    color: var(--white-with-opacity-3);

    outline: none;
    }

    .result-found__right-container {
    width: 119px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }

    .result-found__right-container__stars {
    width: 119px;
    height: 17px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

    margin-top: 5px;
    }

    .image-star-one,
    .image-star-two,
    .image-star-three,
    .image-star-four {
    width: 19px;
    height: 17px;
    }

    .image-star-one {
    margin: 0 0 0 5px;
    }

    .image-star-two {
    margin: 0 0 0 5px;
    }

    .image-star-three {
    margin: 0 0 0 5px;
    }

    .image-star-four {
    margin: 0 0 0 5px;
    
    }
    /*RAITING*/
    .result-found__right-container__raiting {
    width: 110px;
    height: 27px;

    color: var(--overgrey);
    background-color: var(--outside);

    margin: auto 0 0 9px;
    }

    .result-found__right-container__raiting-text {
    margin: 0;
    padding: 4px 12px 6px 14px;
    }
