    :root {
    --white: #FFFFFF;
    --white-with-opacity-9:rgba(255, 255, 255, 0.9);
    --white-with-opacity-3:rgba(255, 255, 255, 0.3);
    --outside:#F2F2F2;
    --lightgrey:#EBEBEB;
    --black: #000000;
    --black-with-opacity-3:rgba(0, 0, 0, 0.3);
    --grey: #333333;
    --darkgrey: #A9A9A9;
    --overgray: #666666;
    --more-grey: #CACACA;
    --lightblue: #81B3D2;
    --lightblue-hover: #669EC0;
    --lightblue-active: #5496BD;
    --lightbrown:#766357;
    --lightbrown-hover:#604E43;
    --lightbrown-active:#503E33;
    }
    @font-face {
    font-family:"PTSans";
    src: url("/fonts/PTSans.woff2") format("woff2"),
         url("/fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    }
    @font-face {
    font-family:"PTSans";
    src: url("/fonts/PTSans-Bold.woff2") format("woff2"),
         url("/fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    }
    /*INDEX*/
    /*PAGE*/
    .page {
    font-family: PT Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    
    background-color: var(--outside);
    }
    /*CENTER*/
    .center {
    color: var(--white);
    background-color: var(--white);
    }
    /*NAVIGATION*/
    .navigation-list {
    list-style: none;
    }
    
    .navigation-list a {
    font-weight: 700;
    line-height: 26px;
    text-decoration: none;
    
    color: var(--black);
    }

    .navigation-list a:hover {
    color: var(--lightblue);
    }

    .navigation-list a:active {
    color: var(--black-with-opacity-3);
    }

    .navigation-list .active {
    color: var(--lightbrown);
    }
    /*SLOGAN*/
    .slogan {
    background-color: var(--lightblue);
    }
    /*ABOUT*/
    .about-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;  
    
    color: var(--black);
    }
    
    .about-text {
    line-height: 26px;  
        
    color: var(--grey);
    }
    /*REASON*/
    .reason-list {
    list-style: none;
    }
    
    .reason-list-item { 
    background-color: var(--lightblue);
    color: var(--white);
    }
    
    .reason-list-item:not(:first-child):not(:nth-child(2)) {
    background-color: var(--lightgrey);
    color: var(--grey)
    }

    .reason-list-item:not(:first-child):not(:nth-child(2)) .reason-list-item-title {
    color: var(--black);
    }
    
    .reason-list-item-title {
    font-weight: 700;
    font-size: 21px; 
            
    color: var(--white);
    }
    /*RECOMMENDATIONS*/
    .recommendations-list {
    list-style: none;
    
    background-color: var(--white);
    }
    
    .recommendations-list-item-title {
    font-weight: 700;
    font-size: 21px;
    
    color: var(--black);
    }

    .recommendations-list-item-text {
    color: var(--grey);
    }
    /*SEARCH-HOTEL*/
    .search-hotel-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;

    color: var(--black);
    }
    
    .search-hotel-text {
    font-weight: 400;
    line-height: 24px;

    color: var(--black);
    }
    
    .search-hotel-form-text {   
    font-weight: 700;
    line-height: 26px;

    color: var(--black);
    }
    
    .button {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    }
    
    .button-search {
    color: var(--white);
    background-color: var(--lightbrown);
    }
    
    .button-search:hover {
    background-color: var(--lightbrown-hover);
    }
    
    .button-search:active {
    background-color:var(--lightbrown-active);
    color: var(--white-with-opacity-3);
    }
    
    .search-hotel-form .adult,.children,.check-in,.check-out {
    font-weight: 700;
    line-height: 26px;
    
    background-color: var(--outside);
    color: var(--black);
    }
    
    .search-hotel-form input[type="text"] {
    background-color: var(--outside);
    }

    .search-hotel-form input[type="text"]:hover {
    background-color: var(--lightgrey);
    }
    
    .search-hotel-form input[type="text"]:focus {
    background-color: var(--white);
    }
    
    .button-plus,
    .button-minus {
    background-color: var(--outside);
    color: var(--darkgrey);
    }

    .button-plus:hover,
    .button-minus:hover {
    color:#000000;
    }

    .button-plus:active,
    .button-minus:active {
    color:#81B3D2;
    }

    .button-to-find {
    background: var(--lightblue);
    color:var(--white);
    }
    
    .button-to-find:hover {
    background: var(--lightblue-hover);
    }
    
    .button-to-find:active {
    color: var(--white-with-opacity-3);
    background-color: var(--lightblue-active);
    }
    /*FOOTER*/
    .footer {
    background: var(--white-with-opacity-9);
    }
    /*CONTACTS*/
    .contacts {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;

    color: var(--black);
    }

    .contacts-phone {
    text-decoration: none;
    color: var(--black);
    }
    /*SOCIAL*/
    .vk,
    .fb,
    .youtube {
    background-color: var(--lightblue);
    }
    
    .vk:hover,
    .fb:hover,
    .youtube:hover {
    background-color:var(--lightblue-hover);
    }
    
    .vk:active,
    .fb:active,
    .youtube:active {
    background-color:var(--lightblue-active);
    }
    /*COPYRIGHT*/
    .copyright-text {
    line-height: 26px;

    color: var(--black);
    }

    .copyright-logo:hover a {
    color: var(--lightblue);
    }

    .copyright-logo:active img  {
    color: #BDBBBC;
    }
    /*CATALOG*/
    /*FORM*/
    .subtitle {
    font-weight: 700;
    font-size: 16px;

    color: var(--white);
    }
    
    .subtitle-list-item {
    color: var(--white);
    }

    .subtitle-min,
    .subtitle-max {
    color: var(--white);
    }

    .button-show {
    font-weight: 400;
    line-height: 21px;
    font-size:14px;
    
    color: var(--white);
    }
    
    .button-show:hover   {
    background: var(--white);
    color: var(--black);
    }
    /*RESULT*/
    .result-found {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
        
    color: var(--black);
    }
    /*SORTING*/
    .sorting {
    font-size: 12px;
    line-height: 18px;
        
    color: #000000;
    }
    /*RESULT-SORTING*/  
    .result-sorting-list-item {
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    }

    .result-sorting-list .active {
    color: var(--lightblue);
    }
    
    .result-sorting-list-item a {
    color: var(--black-with-opacity-3);
    
    text-decoration: none;
    }
        
    .result-sorting-list-item a:hover {
    color: var(--lightblue);
    }
        
    .result-sorting-list-item a:active {
    color: var(--black);
    }

    .result-sorting-list .active {
    color: var(--lightblue);
    }
    
    .result-found-item h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    
    color: var(--black);
    }
    
    .result-found-item h3:hover {
    color: var(--lightblue-hover);
    }
    
    .result-found-item h3:active {
    color: var(--black-with-opacity-3);
    }
    
    .result-found-text,
    .result-found-min {
    color: var(--grey);
    }

    .button-result-more {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
        
    background: var(--lightblue);
    color: var(--white);
    }
        
    .button-result-more:hover {
    background: var(--lightblue-hover);
    }
        
    .button-result-more:active {
    background-color: var(--lightblue-active);
    color: var(--white-with-opacity-3);
    }
        
    .button-result-booking {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
        
    background: var(--lightbrown);
    color: var(--white);
    }
        
    .button-result-booking:hover {
    background: var(--lightbrown-hover);
    }
            
    .button-result-booking:active {
    background-color: var(--lightbrown-active);
    color: var(--white-with-opacity-3);
}
    
    .result-raiting {
    color: var(--overgray);
    background-color:var(--outside);
    }
