:root {
    --white: #FFFFFF;
    --white-with-opacity-9:rgba(255, 255, 255, 0.9);
    --white-with-opacity-3:rgba(255, 255, 255, 0.3);
    --outside:#F2F2F2;
    --lightgrey:#EBEBEB;
    --black: #000000;
    --black-with-opacity-3:rgba(0, 0, 0, 0.3);
    --grey: #333333;
    --lightdark: #E5E5E5;
    --darkgrey: #A9A9A9;
    --verylightgrey: #ABABAB;
    --verylightgrey-3: :rgba(171, 171, 171, 0.3);
    --overgrey: #666666;
    --ultragrey: #888888;
    --supergrey: #BDBBBC;
    --more-grey: #CACACA;
    --lightblue: #81B3D2;
    --lightblue-hover: #669EC0;
    --lightblue-active: #5496BD;
    --lightbrown:#766357;
    --lightbrown-hover:#604E43;
    --lightbrown-active:#503E33;
    }
    /*OTHER-CLASS*/
    .visually-hidden {
    display: none;
    }
    /*INDEX*/
    /*PAGE*/
    .page {
    width: 1280px;
    min-height: 100%;

    background-color: var(--outside);

    margin: auto;
    }
    
    .page-index {
    min-width: 1200px;
    min-height: 100%;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;

    display: grid;
    grid-template-rows: 56px 1fr 120px;

    color: var(--white);

    padding: 0 40px;
    }

    .container-position {
    position: relative;
    }
    /*HEADER*/
    .header {
    grid-row: 1 / 2;

    background-color: var(--white);
    }
    .header__navigation {
    height: 56px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    position: relative;
    }
    .navigation__list {
    list-style: none;

    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 56px;
    
    padding: 0 72px;
    margin: 0;
    }

    .navigation__item {
    min-width: max-content;
    

    line-height: 26px;
    font-weight: 700;
    }

    .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

    .media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

    .map {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-left: 290px;
    }

    .hotels {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    

    .navigation__link {
    font-weight: 700;
    line-height: 26px;
    text-decoration: none;

    display: flex;
        
    color: var(--black);
    
    margin: 0;
    }
    
    .navigation__link:hover {
    color: var(--lightblue);
    }
    
    .navigation__link:active {
    color: var(--black-with-opacity-3);
    }

    .navigation__list .checked {
    color: var(--lightbrown);
    }

    .header__logo {
    width: 138px;
    height: 70px;

    position: absolute;
    top:0;
    left:531px;

    z-index:1;
    }
    /*SLOGAN*/
    .slogan {
    width: 1200px;
    height: 509px;

    background-image: url(../image/white-mask.png),
                      url(../image/background-photo.png);                
    background-repeat: no-repeat;
    background-position: bottom, center;
    background-color:  var(--lightblue);
    }

    .slogan__title {
    width: 457px;
    height: 351px;

    margin: 77px 372px 81px 371px;
    }
    /*ABOUT*/
    .about {
    width: 1200px;
    min-height: 216px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    background-color:  var(--white);
    }
    .about__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;  
    
    color: var(--black);
    background-color:  var(--white);

    padding: 41.5px 0 0 0;
    margin: 0; 
    
    }
    
    .about__text {
    line-height: 26px;   
        
    color: var(--grey);

    padding: 46px 0 51px 0;
    margin: 0;
    }
    /*REASONS AND RECOMMENDATIONS*/
    .reasons-and-recommendations__list {
    width: 1200px;    
    min-height: 1092px;

    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin: 0;
    padding: 0;
    }
    /*REASONS*/
    .reasons__item {
    min-height: 256px;

    text-align: center;

    background-color: var(--lightblue);
    color: var(--white);
    }

    .reasons__item-title {
    font-weight: 700;
    font-size: 21px;
    }
    
    .reasons__item-title,
    .reasons__item-subtitle,
    .reasons__item-text {
    margin: 0;
    }
    /*REASON-ONE*/
    .reason-one {
    width: 1200px;
    min-height: 256px;

    display: flex;
    flex-wrap: wrap;
    }

    .container-reason-one {
    width: 400px;
    min-height: 256px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    }

    .title-one {
    padding: 46px 0 0 0;
    margin: 0
    }

    .subtitle-one {
    padding: 27px 0 0 0;
    }

    .text-one {
    padding: 25px 0 0 0;
    margin: 0;
    }

    .reason-one-image {
    width: 800px;
    min-height: 256px;
    
    display: flex;
    align-items: center;
    }

    .picture-reason-one {
    width: 800px;
    height: 256px;
    }
    /*REASON-TWO*/
    .reason-two {
    width: 1200px;
    min-height: 256px;
    
    display: flex;
    flex-wrap: wrap;
    }

    .container-reason-two {
    width: 400px;
    min-height: 256px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;

    order: 1;
    }
    
    .title-two {
    padding: 48px 0 0 0;
    }
    
    .subtitle-two {
    padding: 28px 0 0 0;
    }
    
    .text-two {
    padding: 24px 0 0 0;
    }
    
    .reason-two-image {
    width: 800px;
    min-height: 256px;

    display: flex;
    }

    .picture-reason-two {
    width: 800px;
    height: 256px;
    }
    /*REASON-THREE, REASON-FOUR, REASON-FIVE*/
    .reason-three,
    .reason-four,
    .reason-five {
    width: 400px;
    min-height: 256px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;

    background-color: var(--lightgrey);
    color: var(--grey) 
    }

    .title-three,
    .title-four,
    .title-five {
    color: var(--black);

    padding: 46px 0 0 0;
    margin: 0;
    }
    
    .subtitle-three,
    .subtitle-four,
    .subtitle-five {
    padding: 27px 0 0 0;
    margin: 0;
    }
        
    .text-three,
    .text-four,
    .text-five {
    padding: 25px 0 0 0;
    margin: 0;
    }
    /*RECOMMENDATIONS*/
    .recommendations__item {
    width: 400px;
    min-height: 330px;

    text-align: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    background-color: var(--white);
    }

    .recommendations__item-title {
    font-weight: 700;
    font-size: 21px;
    
    color: var(--black);

    padding: 159px 0 0 0;
    margin: 0;
    }

    .recommendations__item-text {
    color: var(--grey);

    padding: 25px 0 0 0;
    margin: 0;
    }

    .title-house::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 72px;
    top: 60px;
    left: 162px;
    background-image: url(../image/home.svg);
    }

    .title-food::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 70px;
    top: 61px;
    left: 162px;
    background-image: url(../image/hamburger.svg);
    }

    .title-suvenirs::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 77px;
    top: 55px;
    left: 168px;
    background-image: url(../image/present.svg);
    }
    /*SEARCH-HOTEL*/
    .search-hotel {
    width: 1200px;
    min-height: 291px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color:  var(--white);
    }
    .search-hotel__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;

    color: var(--black);

    margin: 56px 0 0 0;
    }
    
    .search-hotel__text {
    line-height: 24px;
    text-align: center;

    color: var(--black);

    margin: 33px 0 0 0;
    }

    .button-search-hotel {
    width: 568px;
    height: 86px;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    
    border: none;
    
    color: var(--white);
    background-color: var(--lightbrown);

    padding: 0;
    margin: auto 0 0 0;
    
    }

    .button-search-hotel:hover {
    background-color: var(--lightbrown-hover);
    }
        
    .button-search-hotel:active {
    background-color: var(--lightbrown-active);
    color: var(--white-with-opacity-3);
    }
    /*SEARCH-CONTAINER*/
    .search-hotel-container {
    width: 1200px;
    min-height: 594px;

    position: relative;
    }

    .search-hotel__map {
    width: 1200px;
    height: 592px;
    }
    /*FORM*/
    .search-hotel__form {
    width: 568px;
    min-height: 395px;

    position: absolute;
    top: 0;
    left: 315px;

    display: grid;
    grid-template-columns: 55px 112px 38px 38px 38px 53px 65px 38px 38px 38px 55px;
    grid-template-rows: 55px 38px 29px 38px 30px 38px 54px 58px 55px;

    font-weight: 700;
    line-height: 26px;

    color: var(--black);
    background-color: var(--white);
    }

    .check-in-label {
    grid-column: 2 / 3;
    grid-row:  2 / 3;

    margin: 5px 0 0 0;
    }

    .check-in {
    grid-column: 3 / -2;
    grid-row: 2 / 3;

    border: none;

    margin: 5px 0 6px 13px;
    }

    .check-in-calendar {
    width: 21px;
    height: 23px;

    grid-column: 10 / 11;
    grid-row: 2 / 3;

    margin: 7px 9px 8px auto;
    }

    .check-in-calendar:hover path {
    fill: var(--black);
    }

    .check-in-calendar:active path {
    fill: var(--lightblue);
    }

    .check-out-label {
    grid-column: 2 / 3;
    grid-row: 4 / 5;

    margin: 5px 0 0 0;
    }

    .check-out {
    grid-column: 3 / -2;
    grid-row: 4 / 5;

    border: none;

    margin: 5px 0 6px 13px;
    }

    .check-out-calendar {
    width: 21px;
    height: 23px;
    
    grid-column: 10 / 11;
    grid-row: 4 / 5;
    
    margin: 7px 9px 8px auto;
    }

    .check-out-calendar:hover path {
    fill: var(--black);
    }
    
    .check-out-calendar:active path {
    fill: var(--lightblue);
    }

    .adult-label {
    grid-column: 2 / 3;
    grid-row: 6 / 7;

    margin: 5px 0 0 0;
    }

    .button-minus-adult {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    
    border: none;
    outline: none;
    
    background-color: transparent;
    color: var(--darkgrey);

    z-index: 1;
    }

    .image-minus-adult {
    width: 12px;
    height: 3px;

    grid-column: 3 / 4;
    grid-row: 6 / 7;

    z-index: 1;

    margin: auto;
    }

    .adult {
    text-align: center;

    position: relative;

    grid-column: 3 / 6;
    grid-row: 6 / 7;
    
    margin: 0 0 2px 2px;

    border: none;
    }

    .adult::-webkit-inner-spin-button,
    .adult::-webkit-outer-spin-button {
    appearance: none;
    }

    .button-plus-adult {
    grid-column: 5 / 6;
    grid-row: 6 / 7;
        
    border: none;
    outline: none;
    
    background-color: transparent;
    color: var(--darkgrey);

    z-index: 1;
    }

    .image-plus-adult {
    width: 11px;
    height: 11px;
    
    grid-column: 5 / 6;
    grid-row: 6 / 7;
    
    z-index: 1;
    
    margin: auto;
    }

    .children-label {
    grid-column: 7 / 8;
    grid-row: 6 / 7;

    margin: 6px 0 0;
    }

    .button-minus-children {
    grid-column: 8 / 9;
    grid-row: 6 / 7;
        
    border: none;
    outline: none;

        
    background-color: transparent;
    color: var(--darkgrey);
    
    z-index: 1;
    }

    .image-minus-children {
    width: 12px;
    height: 3px;
    
    grid-column: 8 / 9;
    grid-row: 6 / 7;
    
    z-index: 1;
    
    margin: auto;
    }

    .children {
    text-align: center;
    
    grid-column: 8 / 11;
    grid-row: 6 / 7;
        
    padding: 0 0 2px 2px;
    
    border: none;
    }

    .children::-webkit-inner-spin-button,
    .children::-webkit-outer-spin-button {
    appearance: none;
    }

    .button-plus-children {
    grid-column: 10 / 11;
    grid-row: 6 / 7;
            
    border: none;
    outline: none;
        
    background-color: transparent;
    color: var(--darkgrey);

    z-index: 1;
    }

    .image-plus-children {
    width: 11px;
    height: 11px;
        
    grid-column: 10 / 11;
    grid-row: 6 / 7;
        
    z-index: 1;
        
    margin: auto;
    }

    .button-to-find {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    grid-column: 2 / 11;
    grid-row: 8 / 9;

    border: none;

    background: var(--lightblue);
    color: var(--white);

    padding: 0;
    }
        
    .button-to-find:hover {
    background: var(--lightblue-hover);
    }
        
    .button-to-find:active {
    color: var(--white-with-opacity-3);
    background-color: var(--lightblue-active);
    }
    
    .adult,
    .children,
    .check-in,
    .check-out {
    font-weight: 700;
    line-height: 26px;
    
    background-color: var(--outside);
    color: var(--black);
    }

    .adult:hover,
    .children:hover,
    .check-in:hover,
    .check-out:hover {
    background-color: var(--lightgrey);
    color: var(--black);
    }

    .adult:focus,
    .children:focus,
    .check-in:focus,
    .check-out:focus {
    background-color: var(--white);
    outline: 2px solid var(--lightdark);
    box-sizing: border-box;
    }

    .image-minus-adult:hover rect,
    .image-plus-adult:hover path,
    .image-minus-children:hover rect,
    .image-plus-children:hover path {
    fill: var(--black);
    }

    .image-minus-adult:active rect,
    .image-plus-adult:active path,
    .image-minus-children:active rect,
    .image-plus-children:active path {
    fill: var(--lightblue);
    }

    /*FOOTER*/
    .footer {
    width: 1200px;
    height: 120px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    position: absolute;
    bottom: 0;
    left: 40px;

    background: var(--white-with-opacity-9);

    z-index: 1;
    }
    /*CONTACTS*/
    .contacts {
    width: 400px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;

    color: var(--black);
    }

    .contacts-text {
    margin: 23px 0 10px 70px;
    }

    .contacts-phone {
    text-decoration: none;

    color: var(--black);

    margin-left: 70px;
    }
    /*SOCIAL*/
    .social {
    width: 400px;

    display: flex;
    justify-content: center;
    }

    .social__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    list-style: none;

    padding: 0;
    margin: 0 -6px 0 0;
    }

    .social__item {
    width: 46px;
    height: 48px;
    
    align-self: center;

    background-color: var(--lightblue);

    margin-right: 6px;
    }
    
    .social__item:hover {
    background-color:   var(--lightblue-hover);
    }

    .social__item:hover path {
    fill: var(--white-with-opacity-3);
    }
    
    .social__item:active {
    background-color: var(--lightblue-active);
    }

    .twitter {
    width: 17px;
    height: 17px;

    padding: 16px 14px 15px 15px;
    }

    .facebook {
    width: 12px;
    height: 22px;

    padding: 13px 17px
    }

    .youtube {
    width: 20px;
    height: 16px;

    padding: 16px 13px;
    }

    /*COPYRIGHT*/
    .copyright {
    width: 400px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    }

    .copyright-text {
    line-height: 26px;

    color: var(--black);

    margin-right: 6px;
    }

    .copyright-logo {
    width: 114px;
    height: 40px;

    margin-right: 71px;
    }

    .copyright-logo:hover path {
    fill: var(--lightblue);
    }

    .copyright-logo:active path {
    fill: var(--supergrey);
    }

    /*CATALOG*/
    .page-catalog {
    width: 1200px;
    min-height: 100%;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;

    display: grid;
    grid-template-rows: 56px 1fr 120px;
    
    color: var(--white);
    background-color: var(--outside);
    
    padding: 0 40px;
    }
    /*FILTER-CATALOG*/
    .filter-container {
    width: 1200px;
    min-height: 217px;
    }

    .filter {
    width: 1200px;
    min-height: 217px;

    display: grid;
    grid-template-columns: 73px 135px 119px 136px 347px 317px 73px;
    grid-template-rows: 26.5px 159.5px 31px;

    background-image: url(../image/background-filter-form.png);
    }
    /*INFRASTRUCTURE*/
    .infrastructure {
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;

    border: none;

    margin: 0;
    padding: 0;
    }

    .infastructure__subtitle {
    font-weight: 700;
    font-size: 16px;
        
    color: var(--white);
    }
    
    .infrastructure__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

    list-style: none;

    margin: 0;
    padding: 0;
    }

    .infrastructure__item {
    margin-top: 22px
    }

    .infrastructure__list label {
    display: block;

    position: relative;

    padding-left: 40px;
    }

    .infrastructure__list label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url(../image/checkbox-box.svg);
    }

    .infrastructure-input:checked + label::after {
    content: "";
    position: absolute;
    left: 2.26px;
    top: 2.9px;
    width: 23px;
    height: 23px;
    background-image: url(../image/checkbox-jackdaw.svg);
    background-repeat: no-repeat;
    }
    /*TYPE-HOUSING*/
    .type-housing {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;

    border: none;
    
    margin: 0;
    padding: 0;
    }
    
    .type-housing__subtitle {
    font-weight: 700;
    font-size: 16px;
            
    color: var(--white);
    }
        
    .type-housing__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

    list-style: none;
    
    margin: 0;
    padding: 0;
    }

    .type-housing__item {
    margin-top: 22px
    }

    .type-housing__item label {
    display: block;
    
    position: relative;
    
    padding-left: 40px;
    }
    
    .type-housing__item label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url(../image/checkbox-box.svg);
    }
        
    .type-housing-input:checked + label::after {
    content: "";
    position: absolute;
    left: 2.26px;
    top: 2.9px;
    width: 23px;
    height: 23px;
    background-image: url(../image/checkbox-jackdaw.svg);
    background-repeat: no-repeat;
    }

    
    /*COST-PER-DAY*/
    .cost-per-day {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    border: none;
            
    margin: 0;
    padding: 0;
    }

    .cost-per-day__subtitle {
    font-weight: 700;
    font-size: 16px;

    grid-column: 1 / 3;
    
    color: var(--white);

    margin-bottom: 10.5px;
    }

    .price {
    width: 317px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 2px solid var(--white);
    box-sizing: border-box;
    }

    .price-element {
    width: 2px;
    height: 22px;

    position: relative;

    background-color:  var(--white);
    }

    .price-element::before {
    content: "от 0";

    width: 58px;
    height: 21px;
    
    position: absolute;
    top: 0;
    left: -90px;
    }

    .price-element::after {
    content: "до 3000";

    width: 83px;
    height: 21px;
        
    position: absolute;
    top: 0;
    left: 55px;
    }
    .filter-range__controls {
    width: 316px;
    height: 35px;

    position: relative;

    background-color: transparent;

    padding-top: 20px;
    }
    /*SCALE*/
    .scale {
    height: 2px;

    background-color:  var(--white-with-opacity-3);
    }

    .scale .bar {
    width: 252px;
    height: 2px;

    background-color: var(--white);
    }
    /*TOGGLE*/
    .toggle {
    width: 3.8px;
    height: 3.8px;

    position: absolute;
    top: 11.5px;
    left: 0;
    
    border: 7.64px solid var(--white);
    border-radius: 50%;

    background-color: var(--verylightgrey);

    box-shadow: 0 2px 0 0 var(--verylightgrey);
    }

    .toggle-min {
    left: 0;
    }

    .toggle-max {
    left: 253px;
    }
    /*BUTTON-SHOW*/
    .button-show {
    width: 137px;
    height: 36px;

    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
    text-transform: uppercase;

    align-self: center;

    border: 2px solid var(--white);
    box-sizing: border-box;
    border-radius: 2px;
    
    color: var(--white);
    background-color: transparent;

    padding: 7px 35px 8px 36px;
    margin-right: 10px;
    }

    .button-show:hover   {
    background: var(--white);
    color: var(--black);
    }
    /*RESULT*/
    .result {
    width: 1200px;
    height: 540px;

    display: grid;
    grid-template-rows: 86px 453px;

    background-color: var(--white);
    }

    .header-result {
    width: 1200px;
    height: 87px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    border-bottom: 1px solid var(--lightdark);
    box-sizing: border-box;
    }

    .header-result__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
            
    color: var(--black);

    padding: 29px 0 31px 73px;
    margin: 0;
    }

    .header-result__text {
    font-size: 12px;
    line-height: 18px;

    color: var(--black);

    padding: 31px 0 37px 46px;
    margin:  0;
    }

    .header-result__list {
    width: 741px;
    height: 86px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    margin: 0;
    padding: 0;
    }

    .header-result__item {
    font-size: 12px;
    line-height: 18px;
    list-style: none;

    border: none;

    padding: 0;
    margin: 0;
    }

    /*padding: 32px 0 36px 40px;*/

    /*
    .header-result__item.type {
    padding: 31px 0 37px 32px;
    }
    
    .header-result__item.raiting { 
    padding: 32px 0 36px 33px;
    margin-right: auto;
    }*/
        
    .header-result__link {
    text-decoration: none;

    color: var(--black-with-opacity-3);
    }
            
    .header-result__link:hover {
    color: var(--lightblue);
    }
            
    .header-result__link:active {
    color: var(--black);
    }

    .header-result__triangle {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    }

    .header-result__triangle-top {
    width: 11px;
    height: 10px;

    padding: 40px 0 36px 47px;
    margin: 0;
    }

    .header-result__triangle-bottom {
    width: 11px;
    height: 10px;

    padding: 40px 73px 36px 12px;
    margin: 0;
    }

    .header-result__triangle-bottom.active {
    color: var(--lightblue);
    }
    /*RESULT__FOUND-LIST*/
    .result-found__list {
    width: 1200px;
    height: 450px;

    list-style: none;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    }

    .result-found__item {
    
    }

    .left-part-of-flexbox {
    width: 495px;
    height: 150px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-right: 522px;
    }

    .right-part-of-flexbox {
    width: 183px;
    height: 150px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
    }

    .result-found__item {
    width: 1200px;
    height: 150px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    margin: 0;
    padding: 0;

    border-bottom: 1px solid var(--lightdark);
    }

    .result-found__title {
    width: 257px;
    height: 26px;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
        
    color: var(--black);

    margin: 23.5px 0 7px 29px;
    }

    .result-found__title:hover {
    color: var(--lightblue-hover);
    }

    .result-found__title:active {
    color: var(--black-with-opacity-3);
    }

    .image-hotel,
    .image-motel,
    .image-apartment {
    width: 135px;
    height: 90px;

    order: -1;
    
    margin: 30px 0 30px 73px;
    }

    .result-found__text {
    width: 126px;
    height: 21px;
    
    color: var(--grey);

    margin: -93.5px 0 0 237px;
    }
    
    .result-found__min {
    width: 96px;
    height: 21px;

    color: var(--grey);

    margin: -93.5px 0 0 9px;
    }

    .button-result-more {
    width: 110px;
    height: 27px;

    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    border: none;
            
    background: var(--lightblue);
    color: var(--white);

    margin: -57px 0 30px 237px;
    padding: 3px 16px 3px 17px;
    }
            
    .button-result-more:hover {
    background: var(--lightblue-hover);
    }
            
    .button-result-more:active {
    background-color: var(--lightblue-active);
    color: var(--white-with-opacity-3);
    }
            
    .button-result-booking {
    width: 142px;
    height: 27px;

    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    border: none;
            
    background: var(--lightbrown);
    color: var(--white);

    margin: -57px 0 30px 6px;
    padding: 3px 17px 3px 16px;
    }
            
    .button-result-booking:hover {
    background: var(--lightbrown-hover);
    }
                
    .button-result-booking:active {
    background-color: var(--lightbrown-active);
    color: var(--white-with-opacity-3);
    }
    /*STARS*/
    .image-star-one,
    .image-star-two,
    .image-star-three,
    .image-star-four {
    width: 19px;
    height: 17px;
    }

    .image-star-one {
    margin: 29px 0 47px 0;
    }

    .image-star-two {
    margin: 29px 0 47px 5px;
    }

    .result-found__item:last-child .image-star-two {
    margin-right: 72px;
    }

    .image-star-three {
    margin: 29px 0 47px 5px;
    }

    .result-found__item:nth-child(2) .image-star-three {
    margin-right: 72px;
    }

    .image-star-four {
    margin: 29px 72px 47px 5px;
    }
    /*RAITING*/
    .result-found__raiting {
    width: 110px;
    height: 27px;

    color: var(--overgrey);
    background-color: var(--outside);

    margin: 0 73px 30px 0;
    }

    .result-found__raiting-text {
    margin: 0;
    padding: 3px 12px 3px 15px;
    }
