@font-face {
font-family: PT Sans;
src: local("fonts"),
     url(/fonts/PTSans-Bold.woff2),
     url(/fonts/PTSans-Bold.woff),
     url(/fonts/PTSans.woff2),
     url(/fonts/PTSans.woff);
font-weight: 400;
font-style:normal;
}

:root {
--basic-white: #FFFFFF;
--basic-lower-white:#F2F2F2;
--basic-smoke-white:#EEEEEE;
--basic-smoke-white-lite:#EBEBEB;
--basic-black: #000000;
--basic-grey: #333333;
--basic-blue-dark: #81B3D2;
--basic-blue-dark-lite: #669EC0;
--basic-blue-iron: #5496BD;
--basic-red-brown:#766357;
--basic-dark-brown:#604E43;
--basic-brown-dark:#503E33;
}
/*INDEX*/
/*PAGE*/
.page {
font-family: PT Sans;
font-weight: 400;
font-size: 14px;
line-height: 21px;

background-color: #F2F2F2;
}
/*CENTER*/
.center {
background-color: #FFFFFF;
}
/*NAVIGATION*/
.navigation-list {
list-style: none;
}

.navigation-list a {
font-weight: 700;
line-height: 26px;
text-decoration: none;

color:#000000;
}
/*SLOGAN*/
.slogan {
background-color: lightblue;
}
/*ABOUT*/
.about-title {
font-weight: 700;
font-size: 21px;
line-height: 26px;  

color:#000000;
}

.about-text {
line-height: 26px;  
    
color:#333333;
}
/*REASON*/
.reason-list {
list-style: none;
}

.reason-list-item { 
background-color:#81B3D2;
}

.reason-list-item:not(:first-child):not(:nth-child(2)) {
background-color: #EEEEEE;
}

.reason-list-item-title {
font-weight: 700;
font-size: 21px; 
        
color:#FFFFFF;
}
/*RECOMMENDATIONS*/
.recommendations-list {
list-style: none;

background-color:#FFFFFF
}

.recommendations-list-item-title {
font-weight: 700;
font-size: 21px;

color:#333333;
}
/*SEARCH-HOTEL*/
.search-hotel-title {
font-weight: 700;
font-size: 30px;
line-height: 24px;
}

.search-hotel-text {
font-weight: 400;
line-height: 24px;
}

.search-hotel-form-text {   
font-weight: 700;
line-height: 26px;
}

.button {
font-weight: 700;
font-size: 21px;
line-height: 26px;
}

.button-search {
color: #FFFFFF;
background-color:#766357;
}

.button-search:hover {
background-color:#604E43;
}

.button-search:active {
background-color:#503E33;
color:rgba(255, 255, 255, 0.3);
}

.search-hotel-form input[type="date"] {
font-weight: 700;
line-height: 26px;

background-color: #F2F2F2;
}

.search-hotel-form input[type="date"]:hover {
background-color: #EBEBEB;
}

.search-hotel-form input[type="date"]:focus {
background-color: #FFFFFF;
}

.button-to-find {
background: #81B3D2;
color:#FFFFFF;
}

.button-to-find:hover {
background: #669EC0;
}

.button-to-find:active {
background: #5496BD;
color: rgba(255, 255, 255, 0.3)
}
/*FOOTER*/
.footer {
background: rgba(255, 255, 255, 0.9);
}
/*CONTACTS*/
.contacts-text,
.contacts-phone {
font-weight: 700;
font-size: 21px;
line-height: 26px;
}
/*SOCIAL*/
.vk,
.fb,
.youtobe {
background-color:#81B3D2;
}

.vk:hover,
.fb:hover,
.youtobe:hover {
background-color:#669EC0;
}

.vk:active,
.fb:active,
.youtobe:active {
background-color:#5496BD;
}
/*COPYRIGHT*/
.copyright-text {
line-height: 26px;
}
/*CATALOG*/
/*FORM*/
.subtitle {
font-weight: 700;
font-size: 16px;
}

.button-show {
font-weight: 400;
line-height: 21px;
font-size:14px;

color:#FFFFFF;
}

.button-show:hover   {
background: #FFFFFF;
color: #000000;
}
/*RESULT*/
.result-found {
font-weight: 700;
font-size: 21px;
line-height: 26px;
    
color: #000000;
}
/*SORTING*/
.sorting {
font-size: 12px;
line-height: 18px;
    
color: #000000;
}
/*RESULT-SORTING*/   
.result-sorting-list-item {
font-size: 12px;
line-height: 18px;
list-style: none;
    
color: #000000;
}

.result-sorting-list-item a {
color:#000000;

text-decoration: none;
}
    
.result-sorting-list-item a:active {
color: #81B3D2;
}
    
.result-sorting-list-item a:hover {
color: #81B3D2;
}

.result-found-item h3 {
font-weight: 700;
font-size: 21px;
line-height: 26px;

color: #000000;
}

.result-found-item h3:hover {
color: #81B3D2;
}

.result-found-item h3:active {
opacity: 0.3;
}

.button-result-more {
font-weight: 400;
font-size: 14px;
line-height: 21px;
    
background: #81B3D2;
color:#FFFFFF;
}
    
.button-result-more:hover {
background: #669EC0;
}
    
.button-result-more:active {
background: #5496BD;
color:rgba(255, 255, 255, 0.3);
}
    
.button-result-booking {
font-weight: 400;
font-size: 14px;
line-height: 21px;
    
background: #766357;
color:#FFFFFF;
}
    
.button-result-booking:hover {
background: #604E43;
}
        
.button-result-booking:active {
background: #503E33;
color:rgba(255, 255, 255, 0.3);
}

.result-found-text,
.result-found-min {
color: #333333;
}